
.home-icon {
    -fx-shape: "M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z";
    -fx-scale-shape: true;
}

.plan-icon {
    -fx-shape: "M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z";
    -fx-scale-shape: true;
}

.progress-icon {
    -fx-shape: "M640-160v-280h160v280H640Zm-240 0v-640h160v640H400Zm-240 0v-440h160v440H160Z";
    -fx-scale-shape: true;
}

.notification-icon {
    -fx-shape: "M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z";
    -fx-scale-shape: true;
}
.profile-icon {
    -fx-shape: "M367-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q560-607 560-640t-23.5-56.5Q513-720 480-720t-56.5 23.5Q400-673 400-640t23.5 56.5Q447-560 480-560t56.5-23.5ZM480-640Zm0 400Z";
    -fx-scale-shape: true;
}

.chevron-separator {
    -fx-shape: "M 8 5 L 15 12 L 8 19 L 6.5 17.5 L 12 12 L 6.5 6.5 Z";

    -fx-background-color: #556B2F;

    -fx-min-width: 9px;
    -fx-min-height: 14px;
    -fx-pref-width: 9px;
    -fx-pref-height: 14px;
    -fx-max-width: 9px;
    -fx-max-height: 14px;
}