
.home-icon {
    -fx-shape: "M 0 0 h 0.1 v 0.1 h -0.1 Z M 256 256 h -0.1 v -0.1 h 0.1 Z M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z";
    -fx-scale-shape: true;
}

.plan-icon {
    -fx-shape: "M 0 0 h 0.1 v 0.1 h -0.1 Z M 256 256 h -0.1 v -0.1 h 0.1 Z M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z";
    -fx-scale-shape: true;
}

.progress-icon {
    -fx-shape: "M 0 0 h 0.1 v 0.1 h -0.1 Z M 256 256 h -0.1 v -0.1 h 0.1 Z M640-160v-280h160v280H640Zm-240 0v-640h160v640H400Zm-240 0v-440h160v440H160Z";
    -fx-scale-shape: true;
}

.notification-icon {
    -fx-shape: "M 0 0 h 0.1 v 0.1 h -0.1 Z M 256 256 h -0.1 v -0.1 h 0.1 Z M221.8,175.94C216.25,166.38,208,139.33,208,104a80,80,0,1,0-160,0c0,35.34-8.26,62.38-13.81,71.94A16,16,0,0,0,48,200H88.81a40,40,0,0,0,78.38,0H208a16,16,0,0,0,13.8-24.06ZM128,216a24,24,0,0,1-22.62-16h45.24A24,24,0,0,1,128,216ZM48,184c7.7-13.24,16-43.92,16-80a64,64,0,1,1,128,0c0,36.05,8.28,66.73,16,80Z";
    -fx-scale-shape: true;
}
.profile-icon {
    -fx-shape: "M 0 0 h 0.1 v 0.1 h -0.1 Z M 256 256 h -0.1 v -0.1 h 0.1 Z M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z";
    -fx-scale-shape: true;
}

.chevron-separator {
    -fx-shape: "M 8 5 L 15 12 L 8 19 L 6.5 17.5 L 12 12 L 6.5 6.5 Z";

    -fx-background-color: #556B2F;

    -fx-min-width: 9px;
    -fx-min-height: 14px;
    -fx-pref-width: 9px;
    -fx-pref-height: 14px;
    -fx-max-width: 9px;
    -fx-max-height: 14px;
}