/* ==========================================
 * TYPOGRAPHY
 * ========================================== */

@font-face {
    font-family: 'Space Grotesk Bold';
    src: url('../fonts/SpaceGrotesk-Bold.ttf');
}

@font-face {
    font-family: 'Space Grotesk Medium';
    src: url('../fonts/SpaceGrotesk-Medium.ttf');
}

@font-face {
    font-family: 'Space Grotesk Regular';
    src: url('../fonts/SpaceGrotesk-Regular.ttf');
}

@font-face {
    font-family: 'Manrope ExtraBold';
    src: url('../fonts/Manrope-ExtraBold.ttf');
}

@font-face {
    font-family: 'Manrope Bold';
    src: url('../fonts/Manrope-Bold.ttf');
}

.root {
    /* text */
    -fx-color-text-header: #2C2F30;   /* Colore titoli */
    -fx-color-text-body: #0F172A;     /* Colore testo normale */
    -fx-color-text-light: #64748B;    /* Colore testo secondario/placeholder */
    -fx-color-text-inverse: #FFFFFF;  /* Testo su sfondi scuri */

    -fx-font-family: "Space Grotesk Medium";
    -fx-font-size: 16px;
    -fx-text-fill: -fx-color-text-body;
}

.brand-logo {
    -fx-font-family: 'Space Grotesk Bold';
    -fx-font-size: 20px;
    -fx-text-fill: -fx-color-text-body;
}

.heading-h1 {
    -fx-font-family: 'Space Grotesk Bold';
    -fx-font-size: 20px;
    -fx-text-fill: -fx-color-text-header;
}

.heading-h2 {
    -fx-font-family: 'Space Grotesk Bold';
    -fx-font-size: 18px;
    -fx-text-fill: -fx-color-text-header;
}

.heading-h3 {
    -fx-font-family: 'Space Grotesk Bold';
    -fx-font-size: 18px;
    -fx-text-fill: -fx-color-text-header;
}

.label-overline {
    -fx-font-family: 'Manrope ExtraBold';
    -fx-font-size: 10px;
}

.label-badge-value {
    -fx-font-family: 'Space Grotesk Bold';
    -fx-font-size: 16px;
}

.label-micro {
    -fx-font-family: 'Manrope Bold';
    -fx-font-size: 9px;
}

.body-base {
    -fx-font-family: 'Space Grotesk Medium';
    -fx-font-size: 16px;
    -fx-text-fill: -fx-color-text-body;
}

.body-small {
    -fx-font-family: 'Space Grotesk Medium';
    -fx-font-size: 14px;
    -fx-text-fill: -color-text-body;
}

.ui-calendar-day {
    -fx-font-family: 'Space Grotesk Medium';
    -fx-font-size: 12px;
}

.ui-calendar-number {
    -fx-font-family: 'Space Grotesk Bold';
    -fx-font-size: 20px;
}